VITE_KAKAO_MAP_KEY=your_kakao_javascript_key_here
KAKAO_REST_API_KEY=your_kakao_rest_api_key_here
KAKAO_MOBILITY_KEY=your_kakao_mobility_key_here
VITE_KAKAO_MOBILITY_KEY=optional_local_dev_mobility_key_here
